{% extends "./base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Email Sent!</h4>
            <p>ส่งอีเมลพร้อมคำแนะนำในการรีเซ็ตรหัสผ่านของคุณแล้ว </p>
            <hr>
            <p class="mb-0">โปรดตรวจสอบกล่องจดหมายของคุณและปฏิบัติตามคำแนะนำที่ให้ไว้ </p>
        </div>
        <div class="text-center">
            <a href="{% url 'sign-in' %}" class="btn btn-primary mt-3">Back to Login</a>
        </div>
    </div>
{% endblock content %}
