
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
  </head>
  <body>
    <table class="max-w-4xl bg-red-300 mx-auto mt-24">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">ชื่อผู้ใช้/เบอร์โทรศัพท์</th>
            <th scope="col" class="px-6 py-3">ชื่อเล่น</th>
            <th scope="col" class="px-6 py-3">เพศ</th>
            <th scope="col" class="px-6 py-3">หมายเหตุ</th>
            <th scope="col" class="px-6 py-3">ดำเนินการ</th>
        </tr>
        </thead>
        <tbody>
    {% for customer in customers  %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-[#e7e7e7]">
            <td class="px-6 py-4">{{customer.username}}</td>
            <td class="px-6 py-4">{{customer.nickname}}</td>
            <td class="px-6 py-4">{{customer.gender}}</td>
            <td class="px-6 py-4">{{customer.notes}}</td>
            <td class="px-6 py-4 flex gap-2">
              <button class="px-2 hover:underline hover:text-[#FFBF69]"><a href="/customer/{{ customer.id }}/">แก้ไข</a></button>
              <button id='{{ customer.id }}' class="deletebutton hover:underline hover:text-[#FF4044]">ลบ</button>
            </td>
        </tr>
    {% endfor %}
      </tbody>
  </table>
  <script>
    const deleteButtons = document.querySelectorAll(".deletebutton")
    console.log(deleteButtons)
    deleteButtons.forEach(button=>button.addEventListener("click", async ()=>{
      console.log(button)
      await fetch(`/customer/${button.getAttribute("id")}/`, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    }).then(response=>response.json())
    .then(data=>alert(data.success))
    }))
  </script>
  </body>
</html>