{% extends "./employee_layout.html" %}
{% block title %} Customer List {%endblock title %}
{% block nav %} {% include "./navbarEMP.html" %} {% endblock %}

{% block content %}
<button class="px-4 py-2 rounded bg-blue-200">
  <a href="/customer/new">สมัคร ALL member</a>
</button>
<table class="max-w-4xl bg-red-300 mx-auto mt-24">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">ชื่อผู้ใช้/เบอร์โทรศัพท์</th>
      <th scope="col" class="px-6 py-3">ชื่อเล่น</th>
      <th scope="col" class="px-6 py-3">เพศ</th>
      <th scope="col" class="px-6 py-3">หมายเหตุ</th>
      <th scope="col" class="px-6 py-3">ดำเนินการ</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-[#e7e7e7]">
      <td class="px-6 py-4">{{customer.username}}</td>
      <td class="px-6 py-4">{{customer.nickname}}</td>
      <td class="px-6 py-4">{{customer.gender}}</td>
      <td class="px-6 py-4">{{customer.notes}}</td>
      <td class="px-6 py-4 flex gap-2">
        <button class="px-2 hover:underline hover:text-[#FFBF69]">
          <a href="/customer/{{ customer.id }}/">แก้ไข</a>
        </button>
        <button id="{{ customer.id }}" class="deletebutton hover:underline hover:text-[#FF4044]">
          ลบ
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %} {% block script %}
<script>
  const deleteButtons = document.querySelectorAll(".deletebutton");
  deleteButtons.forEach((button) =>
    button.addEventListener("click", async () => {
      if (!confirm("ยืนยันที่จะลบหรือไม่")) return;
      await fetch(`/customer/${button.getAttribute("id")}/`, {
        method: "DELETE",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      })
        .then((response) => response.json())
        .then((data) => window.location.reload());
    })
  );
</script>
{% endblock script %}