{% extends "employee/employee_layout.html" %}
{% load widget_tweaks %}

{% block title %}
    {% if isCreate %}
        สมัครสมาชิก
    {% else %}
        แก้ไขข้อมูล
    {% endif %}
{% endblock title %}

{% block nav %}
    {% if not user.is_authenticated %}
        {% include "visitor/navbar_visitor.html" %}
    {% elif user.customer %}
        {% include "customer/navbar_cus.html" %}
    {% elif user.is_staff %}
        {% include "manager/navbar_manager.html" %}
    {% else %}
        {% include "employee/navbar_emp.html" %}
    {% endif %}
{% endblock nav %}

{% block content %}
<div class="flex items-center justify-center gap-14  p-8 ">
    <div class="min-w-screen rounded-md flex flex-col justify-center">
        <form method="post" class="bg-gray-100 shadow-md w-fit rounded-lg p-6">
            <h1 class="text-2xl text-center font-semibold mb-6">
                {% if isCreate %}
                    สมัครสมาชิก
                {% else %}
                    แก้ไขข้อมูลสมาชิก
                {% endif %}
            </h1>
            {% csrf_token %}

            <div class='flex gap-4'>
                <div class="flex flex-col w-full mb-4">
                    <label for="{{ form_auth.username.id_for_label }}" class="mb-1 font-medium">เบอร์โทรศัพท์</label>
                    {{ form_auth.username|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                    <div class="text-red-500 mt-1 text-sm">{{ form_auth.username.errors }}</div>
                </div>

                <div class="flex flex-col w-full mb-4">
                    <label for="{{ form_auth.email.id_for_label }}" class="mb-1 font-medium">อีเมล</label>
                    {{ form_auth.email|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                    <div class="text-red-500 mt-1 text-sm">{{ form_auth.email.errors }}</div>
                </div>
            </div>

            <div class='flex gap-4'>
                <div class="flex flex-col w-full mb-4">
                    <label for="{{ form_auth.first_name.id_for_label }}" class="mb-1 font-medium">ชื่อ</label>
                    {{ form_auth.first_name|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                    <div class="text-red-500 mt-1 text-sm">{{ form_auth.first_name.errors }}</div>
                </div>

                <div class="flex flex-col w-full mb-4">
                    <label for="{{ form_auth.last_name.id_for_label }}" class="mb-1 font-medium">นามสกุล</label>
                    {{ form_auth.last_name|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                    <div class="text-red-500 mt-1 text-sm">{{ form_auth.last_name.errors }}</div>
                </div>
            </div>

            <div class='flex gap-4'>
                <div class="flex flex-col w-full mb-4">
                    <label for="{{ form.gender.id_for_label }}" class="mb-1 font-medium">เพศ</label>
                    {{ form.gender|add_class:"px-2 py-1 border w-full rounded focus:outline-none focus:ring-2 focus:ring-blue-400" }}
                    <div class="text-red-500 mt-1 text-sm">{{ form.gender.errors }}</div>
                </div>
                
                    <div class='flex flex-col'>
                        <div class="flex flex-col mb-4">
                            <label for="{{ form.nickname.id_for_label }}" class="mb-1 font-medium">ชื่อเล่น</label>
                            {{ form.nickname|add_class:"px-2 py-1 border w-32 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" }}
                            <div class="text-red-500 mt-1 text-sm ml-4">{{ form.nickname.errors }}</div>
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="{{ form_auth.last_name.id_for_label }}" class="mb-1 font-medium">นามสกุล</label>
                            {{ form_auth.last_name|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-44" }}
                            <div class="text-red-500 mt-1 text-sm ml-4">{{ form_auth.last_name.errors }}</div>
                        </div>
                        
                        {% if isCreate %}
                        <div class="flex flex-col mb-4">
                            <label for="{{ form_auth.password2.id_for_label }}" class="mb-1 font-medium">ยืนยันรหัสผ่าน</label>
                            {{ form_auth.password2|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-44" }}
                            <div class="text-red-500 mt-1 text-sm ml-4">{{ form_auth.password2.errors }}</div>
                        </div>
                        {% endif %}
                            
                    {% if not user.customer %}
                    <div class="flex flex-col mb-4">
                        <label for="{{ form.notes.id_for_label }}" class="mb-1 font-medium">หมายเหตุ</label>
                        {{ form.notes|add_class:"p-1.5 border rounded h-20 focus:outline-none focus:ring-2 focus:ring-blue-400 resize-none w-52" }}
                        <div class="text-red-500 mt-1 text-sm ml-4">{{ form.notes.errors }}</div>
                    </div>
                    {% endif %}
                        
                </div>
            </div>
    
            <div class="flex justify-center gap-4 mt-6">
                <button onclick='window.history.back()' type="button" class="bg-[#FF4044] hover:bg-[#ff6669] text-white px-4 py-2 rounded transition duration-200">
                    ยกเลิก
                </button>
                <button type="submit" class="bg-[#546A7B] hover:bg-[#768895] text-white px-4 py-2 rounded transition duration-200">
                    ยืนยัน
                </button>
            </div>
        </form>

        {% if not isCreate %}
        <form method='POST' action='/change-password/' class='flex flex-col items-center bg-gray-100 shadow-md rounded-lg h-full p-4 max-w-xs w-full'>
            {% csrf_token %}
            <h1 class='text-2xl text-center font-semibold mb-6'>เปลี่ยนรหัสผ่าน</h1>
            <div class="flex flex-col mb-4">
                <label for="{{ password_form.old_password.id_for_label }}" class="mb-1 font-medium">รหัสผ่านเดิม</label>
                {{ password_form.old_password|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                <div class="text-red-500 mt-1 text-sm">{{ password_form.old_password.errors }}</div>
            </div>
            <div class="flex flex-col mb-4">
                <label for="{{ password_form.new_password.id_for_label }}" class="mb-1 font-medium">รหัสผ่านใหม่</label>
                {{ password_form.new_password|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                <div class="text-red-500 mt-1 text-sm">{{ password_form.new_password.errors }}</div>
            </div>
            <div class="flex flex-col mb-4">
                <label for="{{ password_form.confirm_password.id_for_label }}" class="mb-1 font-medium">ยืนยันรหัสผ่านใหม่</label>
                {{ password_form.confirm_password|add_class:"px-2 py-1 border rounded focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" }}
                <div class="text-red-500 mt-1 text-sm">{{ password_form.confirm_password.errors }}</div>
            </div>
            <div class="flex justify-center gap-4 mt-6">
                <button onclick='window.history.back()' type="button" class="bg-[#FF4044] hover:bg-[#ff6669] text-white px-4 py-2 rounded transition duration-200">
                    ยกเลิก
                </button>
                <button type="submit" class="bg-[#546A7B] hover:bg-[#768895] text-white px-4 py-2 rounded transition duration-200">
                    ยืนยัน
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
