<!-- templates/product_list.html -->
{% extends 'layout.html' %}
{% block head %}
{% block title %} Product List {% endblock %}
{% endblock %}

{% block nav %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<main class=" ml-7 mr-7 ">
    <section class="py-20"></section>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h2 class="font-manrope font-bold text-4xl text-black mb-8 max-lg:text-center">
            สินค้าทั้งหมด
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            {% for product in products %}
            <a href="javascript:;"
                class="mx-auto sm:mr-0 group cursor-pointer lg:mx-auto bg-white transition-all duration-500">
                <div class="">
                    <img src="https://pagedone.io/asset/uploads/1700726158.png" alt="face cream image"
                        class="w-full aspect-square rounded-2xl object-cover">
                </div>
                <div class="mt-5">
                    <div class="flex items-center justify-between">
                        <h6
                            class="font-semibold text-xl leading-8 text-black transition-all duration-500 group-hover:text-indigo-600">
                            {{product.name}} </h6>
                        <h6 class="font-semibold text-xl leading-8 text-indigo-600">{{product.price}} </h6>
                    </div>
                    <p class="mt-2 font-normal text-sm leading-6 text-gray-500">สินค้าคงเหลือ
                        {{product.quantity_in_stock}} ชิ้น</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    </section>
</main>
{% endblock %}