<!-- templates/manageInventory.html -->
{% extends 'layout.html' %}
{% block head %}
{% endblock %}

{% block nav %}
{% include 'navbarEMP.html' %}
{% endblock %}

{% block content %}
<div class="m-7">
    <div class="border rounded px-6 py-2 flex justify-between text-center shadow-md mt-12">
        <a class="w-full" href="{% url 'manageInventory' %}">ทั้งหมด</a> |
        <a class="w-full" href="{% url 'manageInvenCat' 'เครื่องดื่ม' %}">เครื่องดื่ม</a> |
        <a class="w-full" href="{% url 'manageInvenCat' 'ขนม' %}">ขนม</a> |
        <a class="w-full" href="{% url 'manageInvenCat' 'ไอศกรีม' %}">ไอศกรีม</a> |
        <a class="w-full" href="{% url 'manageInvenCat' 'ของใช้ครัวเรือน' %}">ของใช้ครัวเรือน</a>
    </div>
    <div class="border rounded px-6 py-2 shadow-md mt-12">
        <div class="flex justify-between m-4 mr-6">
            <h2 class="mt-5"> ประเภทสินค้า: {{category_name}}</h2>
            <a class="flex items-center bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition duration-200 mr-16"
                href="{% url 'addProduct' %}">
                เพิ่มสินค้าใหม่
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-circle-plus ml-2">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                </svg>
            </a>

        </div>

        {% for product in products %}
        <div class="border rounded px-6 py-2 grid grid-cols-5 gap-1 items-center text-center  shadow-md mt-12">
            <img src="https://pagedone.io/asset/uploads/1700726158.png" alt="face cream image"
                class="w-24 aspect-square rounded-2xl object-cover m-2 ml-16">
            <p> {{ product.name }}</p>
            <p>ราคา {{product.price}} บาท</p>
            <p>คงเหลือ: {{ product.quantity_in_stock }} ชิ้น</p>

            <!-- ปุ่มแก้ไขสินค้า -->
            <div
                class=" flex justify-center rounded size-10 w-32  text-bold px-4 py-2 items-center text-white transform hover:scale-[110%] hover:text-sky-200 transition-transform duration-100 text-sm bg-black shadow-white">
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" class="bg-black" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="flex justify-center gap-2 w-full  items-center text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-settings">
                            <path
                                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        แก้ไขข้อมูล </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}