{% extends './layout.html' %}

{% block nav %}
    {% include "manager/navbar_manager.html" %}
{% endblock nav %}
{% block content %}


<div class="max-w-5xl mx-auto py-10">

    <div class="flex items-center text-center transform hover:underline transition-all duration-100 w-full cursor-pointer" onclick='window.history.back()'>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-arrow-left pr-2">
            <circle cx="12" cy="12" r="10" />
            <path d="M16 12H8" />
            <path d="m12 8-4 4 4 4" />
        </svg>
        <p class="pt-1"> กลับไปหน้ารายการสินค้า </p>
    </div>
    <div class="grid grid-cols-2 bg-white shadow-md rounded-md p-20 m-10 py-8">
        <div class="pl-2 pt-2">
            <h1 class="text-2xl font-bold mb-8">แก้ไขสินค้า</h1>
            <img src="{{ product.image_url }}" alt="face cream image"
                class="w-1/2 aspect-square rounded-2xl object-cover mr-10">
        </div>
        <div class="grid gap-y-12  bg-white border rounded-md px-8 pt-6 pb-8 mb-4 ">
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="mb-4">
                    <label for="{{ form.name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                        {{ form.name.label }}
                    </label>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.name.errors }}</p>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label for="{{ form.price.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                        {{ form.price.label }}
                    </label>
                    {{ form.price }}
                    {% if form.price.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.price.errors }}</p>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label for="{{ form.quantity_in_stock.id_for_label }}"
                        class="block text-gray-700 text-sm font-bold mb-2">
                        {{ form.quantity_in_stock.label }}
                    </label>
                    {{ form.quantity_in_stock }}
                    {% if form.quantity_in_stock.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.quantity_in_stock.errors }}</p>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label for="{{ form.categories.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                        {{ form.categories.label }}
                    </label>
                    {{ form.categories }}
                    {% if form.categories.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.categories.errors }}</p>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
                        อัปโหลดภาพสินค้า
                    </label>
                    <input type="file" name="image" id="image" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" />
                    {% if form.image.value %}
                        <p>Currently: {{ form.image.value.name }}</p>
                    {% endif %}
                </div>

                <div class="flex justify-between">
                        <button type="button" onclick='showDialog("{{ product.id }}")'
                            class="bg-[#fdfdff] hover:bg-red-500 text-[#333] hover:text-white hover:border-red-500 border border-gray-300 font-bold py-2 px-4 rounded leading-tight">
                            ลบสินค้า
                        </button>
                    
                    <div class="">
                        <button type="submit"
                            class="bg-[#546a7b] hover:bg-[#98a6ae] text-white font-bold py-2 px-4 rounded leading-tight">
                            บันทึกการแก้ไข
                        </button>
                    </div>
                </div>

            </form>
         

           
       
    </div>
</div>
</div>
</div>

{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function showDialog(product_id){
        Swal.fire({
            title: "โปรดยืนยันการลบสินค้าอีกครั้ง",
            text:"สินค้าที่ถูกลบจะไม่สามารถกู้คืนในภายหลังได้",
            icon: "warning",
            showCancelButton: true,
            showCloseButton: true,
            focusConfirm: false,
            cancelButtonText: `ยกเลิก `,
            confirmButtonText: `ลบสินค้า`,
            confirmButtonColor: "#546a7b",
            cancelButtonColor: "#d33",
          }).then((res)=>{
            console.log(res)
            if(res.isConfirmed){
                fetch(`/deleteProduct/${product_id}/`, {
                    method: "POST",
                    headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                    }
                }).then((res)=>res.json().then(result=>{
                    if(result.success){
                        Swal.fire({
                            icon: "success",
                            title: "สินค้าถูกลบแล้ว",
                            showConfirmButton: false,
                            timer: 1300
                          }).then(res=>window.location.href='/manageInventory');
                    }
                }))
                .catch(err=>alert(err))
               
            }
          });
          
    }
</script>
    

{% endblock script %}