<!-- templates/viewpoin.html -->
{% extends 'manager/layout.html' %}
{% block head %}
<title>Product List</title>
{% endblock %}
{% block nav %}
    
    {% include "customer/navbar_cus.html" %}
        
{% endblock %}

{% block content %}
<main class="ml-7 mr-7">
    <!-- Title -->
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow mt-6">
        <h1 class="text-2xl font-bold  mb-4">สะสมคะแนน</h1>

        <!-- Table -->
        <table class="w-full text-left border-collapse">
            <thead>
                <tr class="bg-gray-200 text-gray-700">
                    <th class="p-3">อันดับ</th>
                    <th class="p-3">ชื่อ-นามสกุล</th>
                    <th class="p-3">ชื่อผุ้ใช้งาน</th>
                    <th class="p-3">ยอดใช้จ่าย (บาท)</th>
                    <th class="p-3">คะแนนสะสม</th>
                </tr>
            </thead>
            <tbody>
                {% for customers in top_customers_data %}
                <tr class="border-b hover:bg-gray-100 transition-colors duration-150">
                    <td class="p-3">{{ forloop.counter }}</td>
                    <td class="p-3">{{ customers.customer__user__first_name }} {{ customers.customer__user__last_name }}</td>
                    <td class="p-3">{{ customers.customer__user__username }}</td>
                    <td class="p-3">{{ customers.total_spent }}.-</td>
                    <td class="p-3">{{ customers.total_point }} คะแนน</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="max-w-4xl mx-auto bg-teal-100 p-4 rounded-lg shadow mt-6 flex flex-col md:flex-row justify-between items-center">
        <div class="text-center md:text-left mb-4 md:mb-0">
            <p class="font-bold">ชื่อ ชื่อผู้ใช้งาน</p>
            <p class="text-lg">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="text-lg">{{ user.username }}</p>
        </div>
        <div class="text-center mb-4 md:mb-0">
            <p class="text-gray-600">ยอดค่าใช้จ่าย</p>
            <p class="text-3xl font-bold text-teal-500">{{ my_spent }} บาท</p>
        </div>
        <div class="text-center">
            <p class="text-gray-600">คะแนนสะสมของคุณ</p>
            <p class="text-3xl font-bold text-teal-500">{{ mypoints }}</p>
        </div>
    </div>
</main>
{% endblock %}
