{% load tailwind_filters %} {% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <style>
    body {
      font-family: 'Noto Sans Thai', sans-serif;
  }
  </style>
  <body class="grid grid-cols-2">
    <div
      class="w-full h-screen"
      style="
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://images.unsplash.com/photo-1633949970272-3421a17b5e32?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
    ></div>
    <div class="w-full h-full flex flex-col gap-2 items-center">
        <div class="flex items-center  h-fit mt-28">
            <div class="flex flex-col text-center cursor-default">
              <p class="logo tracking-widest text-6xl">VENA</p>
              <p class="tracking-[5px] text-lg">GROCERY STORE</p>
              
            </div>
          </div>
        {% comment %} <h1 class='text-center text-2xl font-semibold mt-12'>เข้าสู่ระบบ</h1> {% endcomment %}
      <form class="w-[250px] flex flex-col gap-2 mt-12" method="post">
        {% csrf_token %}
        <div class="flex flex-col p-1 gap-1">
          {% comment %} <label for="{{ form.username.id_for_label }}">เบอร์โทรศัพท์</label> {% endcomment %}
          {{form.username|attr:"placeholder:เบอร์โทรศัพท์"|add_class:"px-3 py-2 border rounded focus:border-blue-300 tracking-wider bg-white"}}
          <div class="text-red-500">{{form.username.errors}}</div>
        </div>
        <div class="flex flex-col p-1 gap-1">
          {% comment %} <label for="{{ form.username.id_for_label }}">รหัสผ่าน</label> {% endcomment %}
          {{form.password|attr:"placeholder:รหัสผ่าน"|add_class:"px-3 py-2 border rounded focus:border-blue-300"}}
          <div class="text-red-500">{{form.password.errors}}</div>
        </div>
        <button type='submit' class='bg-[#546a7b] px-4 py-2 rounded-md w-[98%] self-center text-[#e7e7e7] mt-4'>ยืนยัน</button>
      </form>
    </div>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
